* {
  scrollbar-width: none;
  transform: scale(1);
}

.background {
    text-align: center;
    margin:50px;
    background-color: antiquewhite;
    cursor: url(assets/cursor/normal.cur) 0 0, auto;
}

.logo {
    margin: 10px;
    text-align: center;
    transform: scale(0.7);
}

.Bar {
    margin: 11px;
    padding: 0px;
}
.buttonBar {
    margin: auto;
    color: black;
    font-size: 35px;
    font-family: "DM Sans", sans-serif;
    padding: 10px;
    border: 10px;
    border-radius: 1px;
    background-color: #FADEB9;
    transition: border-radius 0.3s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.buttonBar:hover{
    margin: auto;
    border: 10px;
    padding: 20px;
    cursor: url("assets/cursor/hover.cur"), pointer;
    border-radius: 10px;
    background-color: #FABE6E;
}


.dividingBorder {
    margin: 1000px;
    background-color: #FAEBA2;
}

.studioName {
    margin: 0 auto;
    color: black;
    font-size: 20px; 
    cursor: default;   
}

.tagline {
    margin: 0 auto;
    color: black;
    font-size: 75px;
    cursor: default;   
}

.subtagline {
    margin: 10px;
    color: black;
    font-size: 25px;
    cursor: default;   
}

.aboutUs {
    font-size:25px;
    cursor: default;
}

.aboutUsSpeaker {
    text-align: center;
    font-size:  20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: default;
}

.projects {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: auto;
    padding-bottom: 0;
    border-radius: 25px;
    background-color: #FADEB9;
    width: 150px;
    height: 150px;
    transition: height 1s ease-in-out, background-color 0.3s ease-in-out;
}

.projects:hover {
    background-color: #FABE6E;
}

.projectsLogo {
    size: 200px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.projectsDescription {
    text-align: left;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 10px;
    width: 200px;
    height: 200px;
    overflow: auto;
}

.projectsTitle {
    font-size: 30px;
    font-family: "DM Sans", sans-serif;
}

.linksButton {
    width: 100px;
    height: 100px;
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 10px;
    border-radius: 0;
    background-color: #FABE6E;
    transition: border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out, padding 0.3s ease-in-out
}

.linksButton:hover{
    padding:20px;
    background-color: #FABE6E;
    border-radius: 10px;
}